/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
	--primario: #f6de16;
	--primary2: #d1bd18;
	--secundario: #005ea5;
	--cbody: #acaeb2;
	--white: #f4f4f4;
	--black: #0e1010;
	--h1: 700 3rem / normal Lato;
	--h2: 700 2.25rem / normal Lato;
	--h3: 400 1.75rem / normal Lato;
	--h6: 400 1.125rem / normal Lato;

	--lead: 400 1.375rem/9.375rem Lato;
	--body: 400 1rem/9.375rem Lato;
	--subtitulo: 700 1.125rem / normal Lato;

	--h1-phone: 900 2rem / normal Lato;
	--subtitulo-phone: 700 0.875rem / normal Lato;
	--parrafo-phone: 400 0.875rem / normal Lato;

	--border-radius: 4px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--white);
	font-size: 16px;
	font-family: "Lato", sans-serif;
}
a,
a:link {
	text-decoration: none !important;
	color: #95c0ba;
	text-decoration: none;
}

/* visited link */

a:visited {
	color: #adc9c5;
}

/* mouse hover link */

a:hover {
	color: #75e4d3;
}

a:active {
	color: #75e4d3;
}
/** ============= Scrollbar ==========*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--cbody);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 50px;
}
/*! =============== Scrollbar ============*/
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.Main-loading {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* * =================== General =========================*/
.section-container {
	max-width: 1200px;
	text-align: center;
	margin: auto;
}
.title-section {
	font-weight: bold;
	color: var(--secundario);
	font-size: 1.5rem;
	/* margin: 15px 0; */
}
.outline{
	border-bottom: 1px solid var(--white);
}
.separator {
	background-color: var(--cbody);
	height: 1px;
	border: 0;
	width: 50%;
	margin: 10px auto;
}
/*! ============== End General ===============*/

/** ============== Header ====================*/

.header .Header-main {
	width: 100%;
	height: 56px;
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--secundario);
	backdrop-filter: blur(20px);
	transition: all ease 0.5s;
}

.header.active .Header-main {
	height: 100vh;
	justify-content: start;
	flex-direction: column;
	background-color: var(--secundario);
}

.Header-logo {
	width: 100%;
	min-height: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.logo{
	text-transform: uppercase;
	color: var(--white);
}
.logo a{
	font-size: 1.4rem;
	color: var(--white);
}
.menu{
	font-size: 1.2rem;
}
.header .Header-navs {
	display: none;
}

.header.active .Header-navs {
	display: flex;
	flex-wrap: wrap;
	height: 60%;
	align-items: center;
	margin-top: 20px;
}

.header.active .Header-nav {
	display: inline;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	padding: 16px;
	border-bottom: 1px var(--white) solid;
	border-radius: var(--border-radius);
	color: var(--white);
	text-transform: uppercase;
}

.header .Header-nav:hover {

	/* background: var(--white);
	color: var(--secundario); */
}
.header .Header-nav { 
	text-transform: uppercase;
}
.Header-nav {
	display: none;
}

.Header-nav a {
	text-decoration: none;
	color: var(--white);
	font-size: 1rem;
}

.Header-nav:hover a {
	text-decoration: none;
	color: var(--secundario);
	
		color: #75e4d3;
	
}

.menu {
	color: var(--white);
}
/*! ==================== End Header ======================*/
/** ==================== Banner ==========================*/
#Banner {
	width: 100%;
	height: calc(100vh - 56px);
	margin-bottom: 20px;
}

.Banner-main {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0, 94, 165, 0.87);
}
.Banner-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.Banner-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
	text-align: center;
}
.h1 {
	font: var(--h1-phone);
	text-transform: uppercase;
	margin-top: -100px;
}
.parrafe {
	font: var(--subtitulo-phone);
	line-height: 20px;
	margin: 20px 0 40px 0;
}

/* button */

.button-link {
	min-width: 40%;
	margin: 0 auto;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 38px;
	background: var(--primary2);
	color: var(--black);
	cursor: pointer;
	border: 1px solid var(--black);
	box-sizing: border-box;
	border-radius: 4px;
	transition: all 0.4s; 
}
.button-link:hover {
	background: var(--primario);
	color: var(--secundario);
}
/*! ==================== End Banner =======================*/

/** =================== Team ==============================*/
.Team {
	background-color: var(--white);
	text-align: center;
	margin: 20px 0px;
}

.team-slider {
	width: 100%;
	margin-top: 20px;
}
.slider-element img {
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.element-image {
	margin-bottom: -5px;
}

.element-description {
	background-color: var(--primario);
	height: 120px;
	display: flex;
	padding: 20px 30px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.element-description h3 {
	width: 100%;
	font-weight: 800;
	margin-bottom: 8px;
}
.element-description p {
	width: 100%;
	font-weight: 600;
	margin-bottom: 8px;
}
.element-description ul {
	list-style: none;
	display: flex;
	width: 55%;
	justify-content: space-around;
	padding: 0 0.5rem;
	transition: all ease 0.5s;
	font-size: 1.2rem;
}

.description-social a i{
	color: black;
}

.card-team-opacity {
	background-color: var(--primary2);
}

/*? @suscribe */
.glider {
	overflow-x: hidden;
	margin-bottom: 10px;
}
.glider-dot {
	background-color: var(--cbody);
}

.glider-dot.active {
	background-color: var(--primario);
}
/*! ======================== End Team ========================*/

/** ================  Contact ==============================*/
.Contact {
	background-color: var(--white);
	text-align: center;
	margin: 20px 0;
}
.Contact-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Contact-image {
	display: none;
}
.Contact-form {
	width: 80%;
	margin: auto;
}

.Contact-form .form-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	padding: 10px;
}

.form-group__title {
	color: var(--secundario);
	font-weight: 600;
	text-align: start;
	margin-bottom: 10px;
	width: 100%;
}

.form-group__text {
	width: 100%;
	height: 30px;
	background-color: var(--white);
	padding: 15px;
	border: 1px solid var(--cbody);
	border-radius: var(--border-radius);
}

.form-group__area {
	width: 100%;
	height: 120px;
	background-color: var(--white);
	padding: 10px;
	border-radius: var(--border-radius);
	border: 1px solid var(--cbody);
}
.form-group__area::placeholder {
	font-family: "Lato", sans-serif;
}

.form-group__btn {
	background-color: var(--primario);
	width: 100%;
	font-weight: bold;
	padding: 10px;
	border: 1px solid var(--black);
	border-radius: var(--border-radius);
	cursor: pointer;
	box-shadow: 0 4px 4px 0 var(--cbody);
	margin: auto;
}
/* ! ============== End Contact = =========================*/
/** ==================== Footer =========================*/
.Footer {
	background-color: #0f1521;
	padding: 20px 20px 10px 20px;
}
.footer-content {
	display: flex;
	flex-wrap: wrap;
}
.Footer-info {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 10px 0px;
}

.Footer-info-title {
	color: var(--white);
	display: block;
	font-size: var(--h1-phone);
	font-weight: bold;
	margin: 15px 0;
}

.Footer-info-link {
	color: var(--cbody);
	display: block;
	cursor: pointer;
	font-size: var(--subtitulo-phone);
	margin: 5px 0;
}

.Footer-rights {
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	margin: 20px 0px;
}

.Footer-rights-logo {
	height: 3.8rem;
	width: 7rem;
	margin-bottom: 10px;
}

.Footer-rights-text {
	color: var(--cbody);
}

.Footer-social {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	width: 100%;
}

.Footer-social-icon {
	margin: 0 20px;
	font-size: 25px;
	color: var(--white);
}
.Footer-reserved {
	/* border: 1px solid yellow; */
	width: 100%;
	text-align: center;
}

/*! ========================== End Footer ==================*/
/**========================== About Us ======================*/
#AboutUs{
	margin-top: 40px;
}
.AboutUs-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.AboutUs-title{
	/* display: block; */
	/* background-color: red; */
	color: var(--secundario);
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 10px;
	transform: translateY(-10px);
	font-size: var(--h1-phone);
}

.AboutUs-text{
	color: var(--cbody);
	font-size: var(--subtitulo-phone);
	padding: 15px 0;
	text-align: justify;
}

.AboutUs-icon{
	color: #FFBF00;
	font-size: 40px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	/* stroke: black;
	stroke-width: 10; */
}

.AboutUs-section-vision{
	margin-top: 80px;
}
/*! =========================End About Us ===================*/

/**========================== Service =======================*/
.Service-content{
	margin: 20px 0;
	padding: 20px 40px 0px 40px;
}

/* ========================= */

.Service-card {
	background-color:rgba(255, 255, 255, .7);
	margin: 20px 0;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 2px 1px var(--cbody);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.Service-card img{
	width: 9rem;
}

.Service-card .card-title{
	font: 700 1.4rem / normal Lato;
	text-align: center;
	width: 100%;
	margin: 20px;
	color: var(--secundario);
}

.tab-content {
	text-align: center;
	padding: 0 1em;
	color: var(--cbody);
	background: white;
	transition: all 0.3s ease;
}

/*! =========================End Service ===================*/
/* TODO: Responsive */

/*? RESPONSIVE HEADER */
@media (min-width: 697px) {
	.Header-logo{
		padding-left: 30px;
	}
	.header .Header-navs{
		padding-right: 30px ;
	}
	/* Mayor a 600 */
	.header .Header-main {
		width: 100%;
		height: 72px;
	}

	.header .Header-navs {
		width: 100%;
		height: 100%;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		grid-template-columns: repeat(4, auto);
		grid-gap: 12px;
	}

	.Header-logo .menu {
		display: none;
	}

	.header .Header-nav {
		height: 70%;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		border-radius: var(--border-radius);
		color: var(--white);
	}

	
}

/*? ##### Tablet small ##### */
@media all and (min-width: 450px) and (max-width: 850px) {
	
	/**##### Banner *#####*/
	.Banner-content {
		padding: 0 70px;
		
	}
	.h1 {
		font:  var(--h1)
	}
	.parrafe {
		font: var(--subtitulo);
		padding: 0 20px;
	}
	.button-link{
		font-size: 1.2rem;
	}
	/* *###### TEAM ########*/
	.slider-element img {
		height: 630px;
	}
	.element-description {
		height: 150px;
	}
	.element-description h3 {
		font-size: 1.2rem;
	}
	.element-description p {
		font-size: 1rem;
	}
	.element-description ul {
		font-size: 1.4rem;
	}
	/* *#### Contact ##### */
	.Contact-form {
		width: 60%;
		margin: 0;
	}
	/* *#### AboutUs ##### */
	
	.AboutUs-section{
		padding: 80px;
	}
	/* *####### Service ##### */
	.Service-content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
	.Service-card{
		flex-basis: 45%;
	}

	
}

@media all and (min-width: 850px) {
	/**##### Banner *#####*/
	.Banner-content {
		padding: 0 70px;
	}
	.h1 {
		font:  var(--h1)
	}
	.parrafe {
		font: var(--subtitulo);
		padding: 0 20px;
	}
	.button-link{
		font-size: 1.2rem;
	}
	/* *#### AboutUs ##### */
	
	.AboutUs-section{
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		padding: 50px;
	}

	.AboutUs-section-mission{
		padding: 0 40px;
	}

	.AboutUs-section-vision{
		margin: 0;
		padding: 0 40px;
	}
	
	/* * TEAM */

	/* *#### Contact ##### */
	.Contact-content {
		justify-content: space-around;
		flex-direction: row-reverse;
	}
	.Contact-form {
		width: 35%;
		margin: 0;
	}
	.Contact-image {
		display: flex;
	}
	.Contact-image img {
		width: 25rem;
	}
	/**###### Footer #####*/

	.footer-contents {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.Footer-info {
		width: 50%;
	}
	.Footer-rights {
		width: 50%;
	}
	.Footer-rights {
		padding: 0px 0px;
	}

	.Footer-rights-logo {
		height: 4rem;
		width: 6rem;
		margin: -8px 0 10px 0;
	}
	.Footer-social {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.Footer-social-icon {
		font-size: 1.5rem;
	}
	.Footer-reserved {
		margin-top: 20px;
	}

	/* *####### Service ##### */
	.Service-content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
	.Service-card{
		flex-basis: 45%;
	}
	.Header-logo{
		padding-left: 40px;
	}
	.header .Header-navs{
		padding-right: 40px ;
	}

}

@media all and (min-width: 1024px) {
	/**##### Banner *#####*/
	.Banner-content {
		padding: 0 100px;
	}
	.h1 {
		font:  var(--h1);
		width: 80%;
		margin: 0 auto;
	}
	.parrafe {
		font: var(--subtitulo);
		padding: 0 50px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	/* *#### AboutUs ##### */
	.AboutUs-section{
		padding: 80px 100px;
	}
	.Header-logo{
		padding-left: 50px;
	}
	.header .Header-navs{
		padding-right: 50px ;
	}
}
